*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: ",";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

input[type=submit] {
  background-color: #ff0000;
  border: 1px solid #ff0000;
  color: #fff;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.3s,border 0.3s,color 0.3s; }

input[type=submit]:hover,
input[type=submit]:active {
  background-color: #d00; }

textarea {
  height: 100px; }

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc; }

.row-form {
  margin: 15px 0px; }

.row-form:last-child {
  margin-bottom: 20px; }

body {
  background-color: #f7f7f7;
  color: #555;
  font-family: 'Lato','Arial',sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility; }

h2 {
  text-align: center; }

.fotorama {
  width: 500px;
  height: 500px; }

section {
  padding: 50px 0px;
  margin: 0px 150px;
  background-color: #efefef; }

.row-text {
  text-align: center; }

.info {
  font-weight: 400;
  padding-left: 50px; }
  .info .price {
    letter-spacing: 2px; }
    .info .price h2 span {
      font-size: 70%; }
  .info .location {
    word-spacing: 4px; }
  .info .description {
    padding-top: 25px; }

.box {
  display: inline-block; }

.row_des {
  padding: 10px 0px; }
  .row_des:after {
    content: " ";
    height: 1px;
    width: 100%;
    background-color: #777; }

.ion-ios-pricetag {
  color: #003ca9; }

.ion-ios-pin {
  color: #1DB954; }

.section-form {
  padding: 0px 20%;
  padding-bottom: 40px; }
