input[type=submit]
{
    background-color: $red-color;
    border: 1px solid $red-color;
    color: #fff;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.3s,border 0.3s,color 0.3s;
}


input[type=submit]:hover,
input[type=submit]:active{
    background-color: #d00;
}

